<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>373201633596-0d6bs2764q1r9p72hpt2gr4p1f1ggso6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373201633596-0d6bs2764q1r9p72hpt2gr4p1f1ggso6</string>
	<key>API_KEY</key>
	<string>AIzaSyCcjCHvFSFke1Ef7vmOSawZRHpogHLMZDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>373201633596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hutomosaktikartiko.riderapp</string>
	<key>PROJECT_ID</key>
	<string>rider-app-a051f</string>
	<key>STORAGE_BUCKET</key>
	<string>rider-app-a051f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373201633596:ios:2b2445c05fa6d3b7609e39</string>
</dict>
</plist>